# Everything is excluded unless we add it manually, preventing accidental
# inclusion of unwanted files.
# See https://github.com/Microsoft/vscode-mono-debug/blob/main/.vscodeignore
*
*/**
**/.DS_Store
!out/extension.js
!package.json
!LICENSE
